body{
	margin:0;
	padding:0;
	text-align: left;
	background: white;
	background-image: none;
	line-height: 1.5em;
	font-size: 11px;
}

h1{
	font-family: Arial;
	color: #4a4a4a;
	text-align: left;	
	font-weight: normal;
	font-size: 18px;
}

h2{
	color: #6eaad1;
	font-family: Arial;
	font-size: 17px;
	font-weight: normal;
}
